@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

/* Basic editor styles */
.tiptap {
    :first-child {
        margin-top: 0;
    }

    /* Link styles */
    a {
        color: var(--color-purple-600);
        text-decoration: underline;
        text-decoration-color: var(--color-purple-600);
        text-decoration-thickness: 0.15rem;
        text-underline-offset: 0.2rem;
        cursor: pointer;

        &:hover {
            color: var(--color-purple-400);
            text-decoration-color: var(--color-purple-400);
        }
    }

    /* List styles */
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    ul {
        list-style-type: disc;
        counter-reset: list-counter;

        li {
            margin-bottom: 0.2rem;
            padding-left: 0.2rem;
            position: relative;
            counter-increment: list-counter;
        }
    }

    ol {
        list-style-type: decimal;
        counter-reset: list-counter;

        li {
            margin-bottom: 0.2rem;
            padding-left: 0.2rem;
            position: relative;
            counter-increment: list-counter;
        }
    }

    /* Task list specific styles */
    ul[data-type="taskList"] {
        list-style: none;
        margin-left: 0;
        padding: 0;

        li {
            align-items: flex-start;
            display: flex;

            >label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            >div {
                flex: 1 1 auto;
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        ul[data-type="taskList"] {
            margin: 0;
        }
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    /* Code and preformatted text styles */
    code {
        background-color: var(--accent-foreground);
        color: var(--accent);
        border-radius: 0.4rem;
        font-family: 'Nova Mono', monospace;
        font-size: 0.85rem;
        padding: 0.05em 0.2em;
    }

    pre {
        background: var(--border);
        border-radius: 0.5rem;
        font-family: 'Nova Mono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-family: 'Nova Mono', monospace;
            font-size: 0.8rem;
            padding: 0;
        }

        /* Code styling */
        .hljs-comment,
        .hljs-quote {
            color: var(--muted-foreground);
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: var(--red);
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
            color: var(--orange);
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
            color: var(--green);
        }

        .hljs-title,
        .hljs-section {
            color: var(--yellow);
        }

        .hljs-keyword,
        .hljs-selector-tag {
            color: var(--blue);
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: 700;
        }
    }

    mark {
        background-color: #FAF594;
        border-radius: 0.4rem;
        box-decoration-break: clone;
        padding: 0.1rem 0.3rem;
    }

    blockquote {
        border-left: 3px solid var(--muted-foreground);
        margin: 1.5rem 0;
        padding-left: 1rem;
        color: var(--muted-foreground);
        font-weight: 500;
    }

    hr {
        border: none;
        border-top: 1px solid var(--muted-foreground);
        cursor: pointer;
        margin: 2rem 0;

        &.ProseMirror-selectednode {
            border-top: 1px solid var(--muted-foreground);
        }
    }

    /* Placeholder (at the top) */
    p.is-editor-empty:first-child::before {
        color: var(--color-gray-400);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    /* Table-specific styling */
    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid var(--foreground);
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            >* {
                margin-bottom: 0;
            }
        }

        th {
            background-color: var(--muted-foreground);
            color: var(--muted);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell {
            background: var(--color-gray-400);
        }

        .column-resize-handle {
            background-color: var(--color-violet-500);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }
}